%ul
  %li
    = @line[:line_number]
  %li
    = @line[:day_1]
  %li
    = @line[:day_2]
  %li
    = @line[:day_3]
  %li
    = @line[:day_4]
  %li
    = @line[:day_5]
  %li
    = @line[:day_6]
  %li
    = @line[:day_7]
  %li
    = @line[:day_8]

