
.col-lg-10
  .panel.panel-default
    .panel-heading
      Trade Board
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Date
            %th Time
            %th Position
            %th Selection
        %tbody
          - if @posted_shifts.empty?
            %p No shifts for trade at this time.
          - else
            - for posted_shift in @posted_shifts
              %tr< 
                %td<
                  = "#{posted_shift.profile.fname} #{posted_shift.profile.lname}"
                %td<
                  = posted_shift.date.to_s(:long)
                %td<
                  = "#{posted_shift.start_time.to_s(:time)} - #{posted_shift.finish_time.to_s(:time)}"
                %td<
                  = posted_shift.position
                %td<
                  - if posted_shift.profile_id == profile.id 
                    = link_to 'Edit', "#", :class => "btn-sm btn-warning"
                    = link_to 'Remove', cancel_shift_path(posted_shift), method: :delete, data:{confirm: 'Are you sure?'}, :class => "btn-sm btn-danger"
                  - else
                    = link_to 'Pick Up', pick_up_shift_path(posted_shift), :class => "btn-sm btn-success", method: :post
