- for post in @posts
  %li.list-group-item
    .post-profile
      = image_tag "http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/WOO661523.png?01AD=3n6mqKw_qL00dpnfbGHt_psO6gNStPFmrhrEnOUuVho8CHdcw_9g8Ow&01RI=0D206B0E41C6CD5&01NA=", class: "avatar50 inner-inline"
      .post-name.inner-inline
        = "#{post.profile.fname} #{post.profile.lname}"
        %p
          %span 
            = "Posted on #{post.created_at.to_date.to_s(:long)}"
      - if post.profile_id == profile.id
        %span.dropdown.pull-right
          %span.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %span.glyphicon.glyphicon-chevron-down{:class => "[ ]"}
          %ul.dropdown-menu{:role => "menu"}
            %li{:role => "presentation"}
              %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Edit
            %li{:role => "presentation"}
              %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Another action
            %li{:role => "presentation"}
              %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Something else here
            %li.divider{:role => "presentation"}
            %li.btn-xs.btn-danger{:role => "presentation"}
              = link_to "Delete this post", post,:method => :delete, :data => {:confirm => "Are you sure?"}, :remote => true, :class => 'delete_post'
    %p.post-context<>
      = "#{post.content}."